*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    background: radial-gradient(rgb(5, 193, 255), rgb(171, 234, 255))
}

.container {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(209, 247, 255, 0.826);
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
}

#screen {
    word-wrap: break-word;
    overflow: scroll;
    overscroll-behavior: contain;
    height: 5rem;
    font-size: 2.5rem;
    text-align: end;
    align-content: center;
    background-color: white;
    border-style: inset;
    border-radius: 8px;
    width: 100%;
}

.button-row {
    display: flex;
    width: 100%;
    gap: 5px
}

.button {
    flex: 1;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    align-content: center;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 20%;
}

.button:hover {
    background-color: rgb(222, 222, 222);
}